<ion-view view-title="我的收货地址">
<ion-nav-buttons side="right">
      <a class="button button-clear" href="#/app/addressEdit/0">
        添加
      </a>
</ion-nav-buttons>
  <ion-content>
  <ion-list>
        <ion-item href="#/app/addressEdit/0"> 
          <h2>
            <span>孙继松</span>
            <span>15669954503</span>
          </h2>
          <p>新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新新</p>
        </ion-item>

        <ion-item > 
          <h2>
            <span>孙继松</span>
            <span>15669954503</span>
          </h2>
          <p>江苏省徐州市沛县龙固镇镇西817号</p>
        </ion-item>

        <ion-item > 
          <h2>
            <span>孙继松</span>
            <span>15669954503</span>
          </h2>
          <p>江苏省徐州市沛县龙固镇镇西817号</p>
        </ion-item>

        <ion-item > 
          <h2>
            <span>孙继松</span>
            <span>15669954503</span>
          </h2>
          <p>江苏省徐州市沛县龙固镇镇西817号</p>
        </ion-item>

        <ion-item > 
          <h2>
            <span>孙继松</span>
            <span>15669954503</span>
          </h2>
          <p>江苏省徐州市沛县龙固镇镇西817号</p>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
