<ion-view view-title="购物车">
<ion-nav-buttons side="right">
      <a class="button button-clear" href="#/app/addressEdit/0">
        添加
      </a>
</ion-nav-buttons>
  <ion-content lazy-scroll has-bouncing="false">
  <ion-list>
       <ion-item class="item-thumbnail-left" href="#/app/addressEdit/0">
          <img image-lazy-src="http://dummyimage.com/400x400/98f279&text=Daniel Clark"> 
          <h2>Venkman<span class="cart-right">¥9.8</span></h2>
          <p class="cart-property">
            <span>这是五个字</span>
            <span>&nbsp;&nbsp;这是五个字</span>
            <span class="cart-right">¥10.8</span>
          </p>
          <p class="cart-count">
            <span class="cart-op op-de">-</span><span class="op-num"> 1 </span><span class="cart-op op-add">+</span>
            <span class="cart-right ion-ios-close"></span>
          </p>
        </ion-item>
       <ion-item class="item-thumbnail-left" href="#/app/addressEdit/0">
          <img image-lazy-src="http://dummyimage.com/400x400/98f279&text=Daniel Clark"> 
          <h2>Venkman<span class="cart-right">¥9.8</span></h2>
          <p class="cart-property">
            <span>这是五个字</span>
            <span>&nbsp;&nbsp;这是五个字</span>
            <span class="cart-right">¥10.8</span>
          </p>
          <p class="cart-count">
            <span class="cart-op op-de">-</span><span class="op-num"> 1 </span><span class="cart-op op-add">+</span>
            <span class="cart-right ion-ios-close"></span>
          </p>
        </ion-item>
       <ion-item class="item-thumbnail-left" href="#/app/addressEdit/0">
          <img image-lazy-src="http://dummyimage.com/400x400/98f279&text=Daniel Clark"> 
          <h2>Venkman<span class="cart-right">¥9.8</span></h2>
          <p class="cart-property">
            <span>这是五个字</span>
            <span>&nbsp;&nbsp;这是五个字</span>
            <span class="cart-right">¥10.8</span>
          </p>
          <p class="cart-count">
            <span class="cart-op op-de">-</span><span class="op-num"> 1 </span><span class="cart-op op-add">+</span>
            <span class="cart-right ion-ios-close"></span>
          </p>
        </ion-item>
       <ion-item class="item-thumbnail-left" href="#/app/addressEdit/0">
          <img image-lazy-src="http://dummyimage.com/400x400/98f279&text=Daniel Clark"> 
          <h2>Venkman<span class="cart-right">¥9.8</span></h2>
          <p class="cart-property">
            <span>这是五个字</span>
            <span>&nbsp;&nbsp;这是五个字</span>
            <span class="cart-right">¥10.8</span>
          </p>
          <p class="cart-count">
            <span class="cart-op op-de">-</span><span class="op-num"> 1 </span><span class="cart-op op-add">+</span>
            <span class="cart-right ion-ios-close"></span>
          </p>
        </ion-item>
       <ion-item class="item-thumbnail-left" href="#/app/addressEdit/0">
          <img image-lazy-src="http://dummyimage.com/400x400/98f279&text=Daniel Clark"> 
          <h2>Venkman<span class="cart-right">¥9.8</span></h2>
          <p class="cart-property">
            <span>这是五个字</span>
            <span>&nbsp;&nbsp;这是五个字</span>
            <span class="cart-right">¥10.8</span>
          </p>
          <p class="cart-count">
            <span class="cart-op op-de">-</span><span class="op-num"> 1 </span><span class="cart-op op-add">+</span>
            <span class="cart-right ion-ios-close"></span>
          </p>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
