<ion-view view-title="个人中心">
  <ion-content scroll="false" has-bouncing="false">
  <ion-list>
        <ion-item  class="item-icon-left item-icon-right item-person" href="#/app/account" > 
          <h2>15669954503</h2>
    		<p>我的资料、收货地址</p>
    		<i class="icon ion-ios-arrow-forward icon-small"></i>
        </ion-item>

        <ion-item  class="item-icon-right item-bottom-1" href="#/app/order-list/all">
          <span>我的订单</span>
          <i class="icon ion-ios-arrow-forward icon-small icon-text-left"><span class="text">查看全部订单</span></i>
        </ion-item>

        <ion-item  class="button-bar" >
		  <a href="#/app/search" class="button  button-clear button-dark padding-less btn-icon-top">
			<i class="icon ion-card"></i>
		  	待付款
		  </a>
		  <a href="#/app/search" class="button button-clear button-dark padding-less btn-icon-top"><i class="icon ion-ios-box"></i>待发货</a>
		  <a href="#/app/search" class="button button-clear button-dark padding-less btn-icon-top"><i class="icon ion-android-bus"></i>待收货</a>
		  <a href="#/app/search" class="button button-clear button-dark padding-less btn-icon-top"><i class="icon ion-android-sync"></i>退款/售后</a>
        </ion-item>

        <div class="item item-divider divider-small"></div>

        <ion-item  class="item-icon-left item-icon-right" href="#/app/search">
        <i class="icon ion-android-favorite-outline icon-small"></i>
          <span>我的收藏</span>
          <i class="icon ion-ios-arrow-forward icon-small"></i>
        </ion-item>

        <div class="item item-divider divider-small"></div>
        <ion-item  class="item-icon-left item-icon-right" href="#/app/browse">
        <i class="icon ion-ios-flower-outline icon-small"></i>
          <span>我的优惠券</span>
          <i class="icon ion-ios-arrow-forward icon-small"></i>
        </ion-item>

        <ion-item  class="item-icon-left item-icon-right" href="#/app/playlists">
        <i class="icon ion-ios-flower-outline icon-small"></i>
          <span>我的积分</span>
          <i class="icon ion-ios-arrow-forward icon-small"></i>
        </ion-item>

        <ion-item  class="item-icon-left item-icon-right" href="#/app/setting">
        <i class="icon ion-ios-gear-outline icon-small"></i>
          <span>设置</span>
          <i class="icon ion-ios-arrow-forward icon-small"></i>
        </ion-item>

        <ion-item  class="item-icon-left item-icon-right" href="#/app/personal">
        <i class="icon ion-ios-help-outline icon-small"></i>
          <span>客服中心</span>
          <i class="icon ion-ios-arrow-forward icon-small"></i>
        </ion-item>

        <ion-item  class="item-icon-left item-icon-right" href="#/app/personal">
        <i class="icon ion-ios-information-outline icon-small"></i>
          <span>关于MS</span>
          <i class="icon ion-ios-arrow-forward icon-small"></i>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
