<ion-modal-view>
    <ion-content scroll="false" has-bouncing="false">
        <div class="bar bar-header item-input-inset">
            <button class="button button-clear" ng-click="search.hide()">
                <i class="icon ion-ios-arrow-back placeholder-icon"></i>
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="搜索商品名" ng-model="search.word">
            </label>
            <button class="button button-clear" ng-click="search.search()">
                搜索
            </button>
        </div>
        <ion-list>
            <ion-item menu-close href="#/app/search" > 
              优选推荐
            </ion-item>
            <button class="button button-full button-outline">
                <i class="icon ion-ios-trash-outline"></i>
                清空搜索历史
            </button>
        </ion-list>
    </ion-content>
</ion-modal-view>
