/* Empty. Add your own CSS if you like */
/*
 p - product
 */
.p-list .item-image{
    height: 50vw;
    background-image: url(../img/MSSHOP.png);
    background-repeat: no-repeat;
    background-size: 50vw;
}
.menu-left .bar-light{
    border-color: #4042D7;
}
.item-divider.divider-small{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 20px;
    line-height: 20px;
    font-size: .7rem !important;
    font-weight: bold;
}
.menu .item{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 20px;
    line-height: 20px;
    font-size: .8rem;
    font-weight: bold;
}
.list .item{
    border-width: 0px;
}

.p-list .list.card,
.p-list .list:last-child.card{
    margin: 0 0 4px 0;
    padding: 0 0 0 0;
    border-radius: 0; 
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
}
.p-list,
.p-list .card-l,
.p-list .card-r
{
    padding: 0;
}
.p-list .card-l{
    padding-right: 2px;
}
.p-list .card-r{
    padding-left: 2px;
}
.card-body{
    padding: 5px 11px;
}
.card-body .n-price{
    font-size: 1.1rem;
}

.card-body .o-price{
    position: absolute;
    margin-left: 5px;
    text-decoration: line-through;
    font-size: .7rem;
}

.card-body .summary{
    font-size: .8rem;
}
.card-body .promote{
    position: absolute;
    right: 11px;
    font-size: .7rem;
}
.grey, a.grey {
  color: grey; }

.grey-bg {
  background-color: grey; }

.grey-border {
  border-color: grey; }
.padding-less{
    padding:0 !important;
}
.margin-less{
    margin:0 !important;
}
.btn-icon-top .icon{
    display: block;
  height: 1.7rem;
  margin-top: -1rem;
}

.float-operate{
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 20px;
    border-radius:.2rem;
}
.float-operate .button,
.float-operate .button:hover{
    background-color: rgba(0,0,0,0.5);
    border: none;
    padding: 0;
    min-width: 38px;
    min-height: 35px;
    font-size: 30px;
    line-height: 35px;
    color:#fff;
}
.icon-text-left{
    font-size: 1.5rem;
    right:0;
}
.icon-text-left .text{
    position: absolute;
    right: 32px;
    line-height: 52px;
    font-size: 1rem;
}
.item-icon-right .icon{
    color:#888 !important;
}


/**
 * personal.html
 */
.item-person .item-content{
  background: -webkit-linear-gradient(right, rgba(125,194,214,0.8), rgba(129,194,214,0.2)) !important;
  background: -o-linear-gradient(right, rgba(125,194,214,0.8), rgba(129,194,214,0.2)) !important;
  background: -moz-linear-gradient(right, rgba(125,194,214,0.8), rgba(129,194,214,0.2)) !important;
  background: linear-gradient(to right, rgba(125,194,214,0.8), rgba(129,194,214,0.2)) !important;
}

.item-bottom-1,
.item-bottom-1 .item-content{
    border-bottom: 1px solid #ccc !important;
}

/**
 * setting.html
 */

.loginout{
    color: #ef473a !important;
}
.item-toggle-c{
    padding:10px 16px 0px;
}
.item-toggle-c .toggle{
    top: 0;
    right:0;
}
.item-toggle-c .item{
    padding:10px 0;
}


/**
 * menu.html
 */
.left-search{
    color: #aaa;
    padding-left: 46px;
    line-height: 32px !important;
}


/**
 * account.html
 */
.avator-44{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top:4px;
}