/* Empty. Add your own CSS if you like */
/*
 p - product
 */
html{
    font-family: '黑体';
}
.min-font *{
    font-size: 12px !important;
}
.badge-r{
    border-radius: 0 !important;
    font-size: .8rem;
}
.badge-small{
    padding: 0px 5px;
}
.badge-assertive-outline{
    background: transparent !important;
    color: #ef473a !important;
    border:1px solid #ef473a !important;
}
.divider-line{
    border-top: 1px solid #ccc !important;
    margin: 0 10px 0;
    padding:0;
    height: 1px;
    border:none;
}
.divider-rec{
    width: 100vw;
    padding:5px 0;
    background-color: #eee;
}
.no-padding{
    padding:0 !important;
}
.no-border{
    border:0 !important;
}
.no-margin{
    margin:0 !important;
}
.no-radius{
    border-radius: 0 !important;
}
.button-bar.no-radius > .button:last-child,
.button-bar.no-radius > .button:first-child{
    border-radius: 0 !important;
}
.platform-android .action-sheet-group{
    margin: 5px;
    border-radius: 5px;
    background-color: #f1f2f3;
}
.platform-android .action-sheet .action-sheet-title{
    text-align: center;
}
.platform-android .action-sheet .action-sheet-title{
    font-size: 13px;
    text-align: center;
    color: #888;
    border-bottom: 1px solid #ccc;
}
.platform-android .action-sheet .button{
    font-size: 21px;
    text-align: center;
    color: #007aff;
    border-bottom: 1px solid #ccc;
}









.p-list .item-image{
    height: 50vw;
    background-image: url(../img/MSSHOP.png);
    background-repeat: no-repeat;
    background-size: 50vw;
}

.toggle-small.item-toggle .toggle{
    top:13px !important;
    right: 3px;
}
.menu-left .bar-light{
    border-color:#ccc;
    padding: 0px;
}
.menu-left .bar-light ion-item{
    padding-top: 6px;
    padding-bottom: 5px;
}
.item-divider.divider-small{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 20px;
    line-height: 20px;
    font-size: .7rem !important;
    font-weight: bold;
}
.menu .item{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 20px;
    line-height: 20px;
    font-size: .8rem;
    font-weight: bold;
}
.list .item{
    border-width: 0px;
}

.p-list .list.card,
.p-list .list:last-child.card{
    margin: 0 0 4px 0;
    padding: 0 0 0 0;
    border-radius: 0; 
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
}
.p-list,
.p-list .card-l,
.p-list .card-r
{
    padding: 0;
}
.p-list .card-l{
    padding-right: 2px;
}
.p-list .card-r{
    padding-left: 2px;
}
.card-body{
    padding: 5px 11px;
}
.card-body .n-price{
    font-size: 1.1rem;
}

.card-body .o-price{
    position: absolute;
    margin-left: 5px;
    text-decoration: line-through;
    font-size: .7rem;
}

.card-body .summary{
    font-size: .8rem;
}
.card-body .promote{
    position: absolute;
    right: 11px;
    font-size: .7rem;
}
.grey, a.grey {
  color: grey; }

.grey-bg {
  background-color: grey; }

.grey-border {
  border-color: grey; }
.padding-less{
    padding:0 !important;
}
.margin-less{
    margin:0 !important;
}
.btn-icon-top .icon{
    display: block;
  height: 1.7rem;
  margin-top: -1rem;
}

.float-operate{
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 20px;
    border-radius:.2rem;
}
.float-operate .button,
.float-operate .button:hover{
    background-color: rgba(0,0,0,0.5);
    border: none;
    padding: 0;
    min-width: 38px;
    min-height: 35px;
    font-size: 30px;
    line-height: 35px;
    color:#fff;
}
.icon-text-left{
    font-size: 1.5rem;
    right:0;
}
.icon-text-left .text{
    position: absolute;
    right: 32px;
    line-height: 52px;
    font-size: 1rem;
}
.item-icon-right .icon{
    color:#888 !important;
}


/**
 * personal.html
 */
.item-person .item-content{
  background: -webkit-linear-gradient(right, rgba(125,194,214,0.8), rgba(129,194,214,0.2)) !important;
  background: -o-linear-gradient(right, rgba(125,194,214,0.8), rgba(129,194,214,0.2)) !important;
  background: -moz-linear-gradient(right, rgba(125,194,214,0.8), rgba(129,194,214,0.2)) !important;
  background: linear-gradient(to right, rgba(125,194,214,0.8), rgba(129,194,214,0.2)) !important;
}

.item-bottom-1,
.item-bottom-1 .item-content{
    border-bottom: 1px solid #ccc !important;
}

/**
 * setting.html
 */

.loginout{
    color: #ef473a !important;
}
.item-toggle-c{
    padding:10px 16px 0px;
}
.item-toggle-c .toggle{
    top: 0;
    right:0;
}
.item-toggle-c .item{
    padding:10px 0;
}


/**
 * menu.html
 */
.left-search{
    color: #aaa;
    padding-left: 46px;
    line-height: 32px !important;
}


/**
 * account.html
 */
.avator-44{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top:4px;
}

/**
 * detail.html
 */
.full-btn .button{
    border-radius: 0 !important;
    line-height: 43px !important;
    font-size: 1rem !important;
}
.main-photo{
    width: 100vw;
    height: 100vw;
    background-image: url('http://dummyimage.com/400x400/ffffff&text=MSSHOP');
    background-repeat:no-repeat;
}
.icon-top-btn{
    line-height: 1rem !important;
}
.icon-collected{
    display: block;
    color: #f55;
}
.d-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cprice{
    font-size: 2rem;
    color: #f55;
}
.price{
    text-decoration: line-through;
    color:#aaa;
}
.promot-tag{
    margin-left: .5rem;
}
.gain-bookmark{
    margin-left: .5rem;
}
.promot-info .promot-head{
    font-size: 1.2rem;
}
.quality-assurance .qualitys{
    margin: 0;
    padding-left: 10px;
    font-size: .8rem;
}
.d-propertys .propertys{
    padding:0 10px;
}
.d-propertys .propertys-item{
    background: transparent;
    color: #000;
    border:1px solid;
    padding:.2rem 0;
    margin: .4rem 0; 
    width: 30%;
}
.d-propertys .propertys-item:nth-child(3n+2){
    margin-left:3.8%;
    margin-right:3.8%; 
}
.d-propertys .propertys-item.active{
    background-color: #f55;
    border-color: #f55;
}

.button.collected.activated,
.button.collected.active{
    background-color:#fff;
    color:#000;
    border:0;
}
.d-menus .button-bar .button{
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:2px solid #fff;
}
.d-menus .button-bar .button.active
,.d-menus .button-bar .button.activated{
    border-color:#f55;
    background-color: #fff;
}
.d-menus .d-m{
    height: calc(100%-93);
    overflow: hidden auto;
}

/* ========== login.html ==============*/
.login-logo{
    height: 5rem;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 5rem;
}

/**
 * cart.html
 */
.cart-right{
    position: absolute;
    right:1rem;
}
.cart-property{
    font-size: .8rem !important;
}
.cart-property .cart-right{
    text-decoration: line-through;
}
.cart-count{
    margin-top: .5rem;
    font-size: 1.4rem !important;
}
.cart-count .op-num{
    font-size: 1rem !important;
    position: relative;
    bottom: 5px;
}
.cart-count .cart-op{
    background-color: rgba(200,200,200,.3);
    color:#f55;
    padding: 0 5px;
    vertical-align: text-top;
}
.cart-count .cart-op.op-de{
    margin-right: 5px;
}
.cart-count .cart-op.op-add{
    margin-left: 5px;
}